/* margen general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: font-family: 'Varela Round', sans-serif;;
  }
/* portada */
  .portada {
    height: 120px;
    display: flex;
    background-color: #261611;
    justify-content: space-between;
    align-items: center;
  }
/* titulo */
  .nome {
    margin-left: 40px;
    color: rgba(255, 255, 255, 0.801);
    font-size: 32px;
  }
/* lista de navegação */
.navegate {
    display: flex;
    width: 400px;
    height: 40px;
    margin-right: 30px;
    color: rgba(255, 255, 255, 0.801);
    font-size: 20px;
    margin-top: 30px;
}

.lista0 {
    list-style: none;
}

/* sites para vanegar */
header nav a {
    align-items: center;
    color: rgba(255, 255, 255, 0.801);
    font-size: 24px;
    font-weight: 100;
    margin-right: 15px;
    text-decoration: none;
  }
/* Estilização do home */
div .home {
    text-align: left;
    margin-top: -2px;
    padding: 1px;
    background-color: #21a1af;
    height: 30px;
    width: 65px;
    border-radius: 5px;
  }

.espaço {
    display: none;
  }

/* Imagem central */
.flores img {
    width: 100%;
    height: 488px;
    object-fit: cover;
}
/* Main e geral */
/* main {
    display: flex;
    margin: 50px 10px 100px 30px;
    justify-content: space-between;
    text-align: left;
  } */
    
    main {
        margin: 30px 15px;
        text-decoration: none;
        list-style: none;
        flex-direction: row;
        display: flex;
        padding: 30px;
    }
    



.imagesection {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-bottom: 20px;
  }

.paragrafo {
    margin: 10px 10px 10px 10px;
}

  section {
    display: flex;
    margin: 0 50px;
    flex-direction: column;
  }

  .centrar {
    margin: 25px 15px;
    text-decoration: none;
    list-style: none;
    color: #6d3625;
  }
/* sub menu */
  .centrar {
    flex-direction: row;
    display: flex;
    background-color: #361910;
    margin: 0px 0px 80px;
    padding: 10px;
  }

  .natu {
      margin-left: 0px;
      margin-top: 60px;
      margin-bottom: 50px;
      color: #966f63;
  }

.flor {
    height: 600px;
    max-width: 750px;
}

.lista1 {
    list-style: none;
}

.minimg {
    margin-bottom: 40px;
    margin-right: 15px;
    float: left;
    margin-top: -5px;
}

.alirodape {
    flex-direction: row;
    display: flex;
    background-color: #250d05;
    margin: -80px 0px 20px;
    padding: 10px;
    height: 300px;
}

.meio {
    color:#9e6f5f;
    margin-left: 0px;
}

.para2 {
    color:#5c3427;
}

.refe {
    color:#5c3427;
    list-style: none;
}

.copy {
    color:#5c3427;
    background-color: #0a0301;
    margin: -80px 0px 20px;
    padding: 10px;
    height: 60px;
    text-align: center;
}

.span {
    margin-right: 60px;
}
 
/* Media queries */

@media (max-width: 375px) {
    header {
      width: 375px;
      height: 60px;
    }

    .nome {
        margin-left: 17px;
        color: rgba(255, 255, 255, 0.801);
        font-size: 20px;
        width: 93px;
        height: 27px;
      }

      .navegate {
        display: flex;
        width: 27px;
        height: 18px;
        margin-right: 311px;
        color: rgba(255, 255, 255, 0.801);
        font-size: 10px;
        margin-top: 22px;
    }

    .flores img {
        width: 375px;
        height: 134px;
        object-fit: cover;
        opacity: ;
    }

    .imagesection {
        display: flex;
        flex-direction: row;
        margin-left: 36px;
        margin-bottom: 228px;
        width: 146px;
        height: 128px;
        
      }

      main {
        margin: 15px 7px;
        text-decoration: none;
        list-style: none;
        flex-direction: row;
        display: flex;
        padding: 15px;
    }

    .natu {
        margin-left: 36px;
        margin-top: 734px;
        margin-bottom: 28px;
        color: #966f63;
        font-size: 21px;
    }

    .minimg {
        margin-bottom: 785px;
        margin-right: 36px;
        float: left;
        margin-top: -5px;
        width: 69.38px;
        height: 71px;
    }

    .span {
        margin-right: 114.5px;
        margin-top: 785px;
        width: 223.5px;
        height: 54.06px;
        line-height: 17px;
    }